/* Root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

:root {
    --branco: #FFFFFF;
    --amarelo: #f2c905;
    --laranja: #f2a305;
    --cinza-claro: #f1f1f1;
    --preto: #000000;
  }

  @font-face {
    font-family: 'headingnow';
    src: url('HeadingNowTrial-38HeavyItalic.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}



/*-----------------------------------------------------------------------------------*/

/* Estilos do menu */

header {
    display: flex;
    justify-content: space-between; /* Já alinha o conteúdo nas extremidades */
    align-items: center; /* Alinha verticalmente ao centro */
    padding: 20px 15%;
    background-color: var(--preto);
}

#logo-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    text-decoration: none;
    align-items: center;
}

#nav-links {
    display: flex; /* Para alinhar os itens do menu lado a lado */
}

#nav-links ul {
    display: flex; /* Para garantir que os itens da lista fiquem lado a lado */
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-links li {
    margin: 0 0 0 30px; /* Espaçamento entre os itens do menu */
    display: flex; /* Para alinhar o texto ao centro verticalmente */
    align-items: center;
}

#nav-links li a {
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}

#nav-links li a:hover {
    color: var(--amarelo);
}

/* Estilo do botão APOIE */

.apoie {
    background: var(--amarelo);
    padding: 5px 20px;
    border-radius: 3px;
}

#nav-links li a.apoie {
    color: var(--preto);
}

/* RESPONSIVIDADE */

/* Estilos para telas de 1400px */
@media (max-width: 1400px) {
    header {
        padding: 20px 10%;
    }
}

/* Estilos para telas de 1200px */
@media (max-width: 1200px) {
    header {
        padding: 20px 5%;
    }
}

/* Estilos para telas de 768px */
@media (max-width: 768px) {
    header {
        padding: 20px 7%;
    }

    #logo-icon {
        width: 40px;
        height: 40px;
        margin-right: 7%;
    }

    #nav-links ul {
        justify-content: space-between;
        align-content: center;

    }

    #nav-links li {
        margin: 10px 7%;
    }
}

/* Estilos para telas de 667px */
@media (max-width: 667px) {
    header {
        padding: 20px 5%; /* Ajuste o padding conforme necessário */
    }

    #logo-icon {
        margin-left: 10px; /* Ajuste o espaçamento conforme necessário */
    }

    #nav-links ul {
        justify-content: space-between; /* Distribui os itens igualmente */
    }

    #nav-links li {
        margin: 0 10px; /* Ajuste o espaçamento entre os itens conforme necessário */
    }

    #nav-links li a {
        font-size: 1em; /* Ajuste o tamanho da fonte conforme necessário */
    }

    .apoie {
        padding: 5px 10px; /* Ajuste o padding conforme necessário */
    }

}

/*-----------------------------------------------------------------------------------*/
/* Estilo geral */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #f2a305, #f2c905);
    color: var(--preto);
}

/*-----------------------------------------------------------------------------------*/
/* Estilo da página inicial */

main {
    background-image: url('BG-Xadrez-Urbano-02.jpg'); /* Caminho da sua imagem */
    background-size: cover; /* A imagem cobre toda a tela */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /* Define a altura da tela como 100% da viewport */
    margin: 0; /* Remove margens */
    padding: 20px 20%;
}

/* Estilos para o conteúdo */
#inicial {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 5%;
}

#inicial img {
    width: 700px;
    height: auto;
}

#inicial h1 {
    text-transform: uppercase;
    font-size: 1.6em;
    margin: 0 0 30px 0;

}

#inicial p {
    font-size: 1.2em;
    margin: 0 0 30px 0;
    line-height: 1.5;
    text-align: justify;
    padding: 0 6%;
}

.botaotransparente {
    background-color: rgba(255, 255, 255, 0.658); /* cor branca com 50% de transparência */
    color: white; 
    border: none; 
    padding: 30px 70px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s ease; /* transição suave ao passar o mouse */

    text-decoration: none; /* remove sublinhado do link */
    color: var(--preto); 
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.botaotransparente:hover {
    background-color: var(--amarelo);
}

/*  RESPONSIVIDADE */

/* Estilos para telas de 1400px */
@media (max-width: 1400px) {
    main {
        padding: 20px 15%;
    }

    #inicial img {
        max-width: 600px;
        height: auto;
    }
}

/* Estilos para telas de 1200px */
@media (max-width: 1200px) {
    main {
        padding: 20px 10%;
    }

    #inicial img {
        max-width: 500px;
        height: auto;
    }
}

/* Estilos para telas de 768px */
@media (max-width: 768px) {
    main {
        padding: 20px 5%;
    }

    #inicial img {
        max-width: 250px;
        height: auto;
    }

    #inicial p {
        padding: 0 7%;
    }

    .botaotransparente {
        background-color: var(--amarelo);
        padding: 20px 50px;
        font-size: 1.2em;
    }
}

/* Estilos para telas de 667px */
@media (max-width: 667px) {
    main {
        padding: 50px 2%;
    }

    #inicial img {
        max-width: 200px;
        height: auto;
    }

    #inicial h1 {
        font-size: 1.2em;
        padding: 0 7%;
    }

    #inicial p {
        font-size: 16px;
        padding: 0 7%;
    }

    .botaotransparente {
        padding: 15px 40px;
        font-size: 1em;
    }
}

/*-----------------------------------------------------------------------------------*/
/* Estilo página O JOGO*/

#ojogo {
    background-color: var(--cinza-claro);
    margin: 100px 15% 30px 15%;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.blocopecas {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.blocopecas img {
    width: 700px;
    height: auto;
    padding-left: 5%;
}

.descricaopecas h2 {
    font-size: 3rem;
    padding: 5px 30px;
}

.descricaopecas span {
    font-weight: bold;
}

.descricaopecas p {
    line-height: 1.5;
    text-align: justify;
    padding: 15px 30px;
}

/* Estilos para telas de 1400px */
@media (max-width: 1400px) {
    #ojogo {
        margin: 80px 10% 30px 10%;
        padding: 15px;
    }

    .blocopecas img {
        width: 600px;
    }

    .descricaopecas h2 {
        font-size: 2.5rem;
    }
}

/* Estilos para telas de 1200px */
@media (max-width: 1200px) {
    #ojogo {
        margin: 60px 8% 30px 8%;
        padding: 10%;
    }

    .blocopecas img {
        width: 500px;
    }

    .descricaopecas h2 {
        font-size: 2rem;
    }
}

/* Estilos para telas de 768px */
@media (max-width: 768px) {
    #ojogo {
        margin: 40px 5% 30px 5%;
        padding: 7%;
    }

    .blocopecas {
        flex-direction: column;
        align-items: flex-start;
    }

    .blocopecas img {
        width: 100%;
        padding-left: 0;
    }

    .descricaopecas h2 {
        font-size: 1.8rem;
        padding: 5px 0;
    }

    .descricaopecas p {
        padding: 15px 0;
    }
}

/* Estilos para telas de 667px */
@media (max-width: 667px) {
    #ojogo {
        margin: 50px 5% 30px 5%;
        padding: 7%;
    }

    .descricaopecas h2 {
        font-size: 1.5rem;
    }

    .descricaopecas p {
        font-size: 1rem;
        padding: 10px 0;
    }
}

/*-----------------------------------------------------------------------------------*/
/* Estilo dos botões do carrossel*/

#setas {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

#setas img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 10px;
}

/*-----------------------------------------------------------------------------------*/
/* Estilo da página SOBRE*/

#sobre {
    background: var(--branco);
    margin-top: 100px;
    padding: 100px 15%;
}

#sobre img {
    width: 1330px;
    height: auto;
}

#sobre h2 {
    font-size: 3rem;
    padding: 25px 0px;
}

#sobre p {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 15px;
}

.crowdfunding {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.crowdfunding button {
    background-color: var(--amarelo);
    color: var(--preto);
    padding: 30px 70px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s ease; /* transição suave ao passar o mouse */
    border: none;
    text-decoration: none; /* remove sublinhado do link */
    color: var(--preto); 
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.crowdfunding button:hover {
    background-color: var(--laranja);
}

/* Estilos para telas de 1400px */
@media (max-width: 1400px) {
    #sobre {
        padding: 80px 15%;
    }

    #sobre img {
        width: 1100px;
    }

    #sobre h2 {
        font-size: 2.5rem;
    }
}

/* Estilos para telas de 1200px */
@media (max-width: 1200px) {
    #sobre {
        padding: 60px 10%;
    }

    #sobre img {
        width: 900px;
    }

    #sobre h2 {
        font-size: 2rem;
    }
}

/* Estilos para telas de 768px */
@media (max-width: 768px) {
    #sobre {
        padding: 40px 7%;
    }

    #sobre img {
        width: 100%;
    }

    #sobre h2 {
        font-size: 1.8rem;
    }

    .crowdfunding {
        margin: 10px 0;
    }

    .crowdfunding button {
        padding: 15px 30px;
        font-size: 1.2em;
    }
}

/* Estilos para telas de 667px */
@media (max-width: 667px) {
    #sobre {
        padding: 50px 7%;
        margin-top: 35px;
    }

    #sobre h2 {
        font-size: 1.5rem;
    }

    #sobre p {
        font-size: 1rem;
    }

    .crowdfunding {
        margin: 0;
    }

    .crowdfunding button {
        padding: 10px 20px;
        font-size: 1em;
    }
}

/*-----------------------------------------------------------------------------------*/
/* Estilo rodapé*/

footer {
    background-color: var(--preto);
    color: var(--branco);
    padding: 20px 15%;
    text-align: center;
}