/* Root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

:root {
    --branco: #FFFFFF;
    --amarelo: #f2c905;
    --laranja: #f2a305;
    --cinza-claro: #f1f1f1;
    --preto: #000000;
  }

  @font-face {
    font-family: 'headingnow';
    src: url('HeadingNowTrial-38HeavyItalic.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}



/*-----------------------------------------------------------------------------------*/

/* Estilos do menu */

header {
    display: flex;
    justify-content: space-between; /* Já alinha o conteúdo nas extremidades */
    align-items: center; /* Alinha verticalmente ao centro */
    padding: 20px 15%;
    background-color: var(--preto);
}

#logo-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    text-decoration: none;
    align-items: center;
}

#nav-links {
    display: flex; /* Para alinhar os itens do menu lado a lado */
}

#nav-links ul {
    display: flex; /* Para garantir que os itens da lista fiquem lado a lado */
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-links li {
    margin: 0 0 0 30px; /* Espaçamento entre os itens do menu */
    display: flex; /* Para alinhar o texto ao centro verticalmente */
    align-items: center;
}

#nav-links li a {
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}

#nav-links li a:hover {
    color: var(--amarelo);
}

/* Estilo do botão APOIE */

.apoie {
    background: var(--amarelo);
    padding: 5px 20px;
    border-radius: 3px;
}

#nav-links li a.apoie {
    color: var(--preto);
}


/*-----------------------------------------------------------------------------------*/
/* Estilo geral */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #f2a305, #f2c905);
    color: var(--preto);
}

/*-----------------------------------------------------------------------------------*/
/* Estilo da página inicial */

main {
    background-image: url('BG-Xadrez-Urbano-02.jpg'); /* Caminho da sua imagem */
    background-size: cover; /* A imagem cobre toda a tela */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /* Define a altura da tela como 100% da viewport */
    margin: 0; /* Remove margens */
    padding: 20px 20%;
}

/* Estilos para o conteúdo */
#inicial {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 5%;
}

#inicial img {
    width: 700px;
    height: auto;
}

#inicial h1 {
    text-transform: uppercase;
    font-size: 1.6em;
    margin: 0 0 30px 0;

}

#inicial p {
    font-size: 1.2em;
    margin: 0 0 30px 0;
    line-height: 1.5;
    text-align: justify;
    padding: 0 6%;
}

.botaotransparente {
    background-color: rgba(255, 255, 255, 0.658); /* cor branca com 50% de transparência */
    color: white; 
    border: none; 
    padding: 30px 70px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s ease; /* transição suave ao passar o mouse */

    text-decoration: none; /* remove sublinhado do link */
    color: var(--preto); 
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.botaotransparente:hover {
    background-color: var(--amarelo);
}

/*-----------------------------------------------------------------------------------*/
/* Estilo página O JOGO*/

#ojogo {
    background-color: var(--cinza-claro);
    margin: 100px 15% 30px 15%;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.blocopecas {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.blocopecas img {
    width: 700px;
    height: auto;
    padding-left: 5%;
}

.descricaopecas h2 {
    font-size: 3rem;
    padding: 5px 30px;
}

.descricaopecas span {
    font-weight: bold;
}

.descricaopecas p {
    line-height: 1.5;
    text-align: justify;
    padding: 15px 30px;
}

/*-----------------------------------------------------------------------------------*/
/* Estilo dos botões do carrossel*/

#setas {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

#setas img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 10px;
}

/*-----------------------------------------------------------------------------------*/
/* Estilo da página SOBRE*/

#sobre {
    background: var(--branco);
    margin-top: 100px;
    padding: 100px 15%;
}

#sobre img {
    max-width: 1335px;
    height: auto;
}

#sobre h2 {
    font-size: 3rem;
    padding: 25px 0px;
}

#sobre p {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 15px;
}

.crowdfunding {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.crowdfunding button {
    background-color: var(--amarelo);
    color: var(--preto);
    padding: 20px 40px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.crowdfunding button:hover {
    background-color: var(--laranja);
}



/*-----------------------------------------------------------------------------------*/
/* Estilo rodapé*/

footer {
    background-color: var(--preto);
    color: var(--branco);
    padding: 20px 15%;
    text-align: center;
}