/* Root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

:root {
    --branco: #FFFFFF;
    --amarelo: #FFD23F;
    --cinza: #878787;
    --preto: #000000;
  }

/*-----------------------------------------------------------------------------------*/

/* Estilos básicos para os ícones de navegação */
.navegacao {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navegacao a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #FFD23F;
    text-decoration: none;
}

.navegacao a:hover {
    background-color: #FFFFFF;
}

.crowdfunding {
    margin-top: 20px;
}

.active {
    font-weight: bold;
    background-color: #878787;
    color: #FFD23F;
}

/*-----------------------------------------------------------------------------------*/
/* Estilo geral */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cinza);
    color: var(--preto);
}